/* Texto y fuentes */
.montserrat-thin {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.montserrat-regular {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.montserrat-bold {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.text-justify {
    text-align: justify;
}

/* Estilos generales */
body {
    font-family: "Montserrat", sans-serif;
}

nav{
    background-color: rgba(128, 128, 128, 0.385);
}

/* Regula el tamaño de los í­conos en #presentación */
#presentacion i {
    font-size: 40px;
}

.img-placeholder {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
}
/* Hace que no se vea el texto de presentación al cargar la pÃ¡gina */
.texto-presentacion {
    display: none;
}

/* Estandariza altura de imÃ¡genes */
#destacados img{
    height: 150px;
}

.carousel-img {
    height: 500px; /* Ajusta esta altura según tus necesidades */
    object-fit: cover;
}

footer {
    background-color: rgba(128, 128, 128, 0.385);
    margin-left: 0;
    margin-right: 0;
}

.logo-estudio img{
    height: 125px;
}

#quieroContacto a {
    color: white;
    text-decoration: none;
}

#quieroContacto a:hover {
    color: white;
    text-decoration: none;
}